name: Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  deployments: write
  contents: read
  statuses: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub Deployment
        uses: chrnorm/deployment-action@v2
        id: deployment
        with:
          token: ${{ github.token }}
          environment-url: https://mini-git-dsa.onrender.com/
          environment: production
          initial-status: success
          description: "deployment on Render"
